@using Microsoft.AspNetCore.Identity
@using PortalDeEventos.Data;
@using PortalDeEventos.Models;

@model List<Events>
@inject SignInManager<EventUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
    var isSignedIn = SignInManager.IsSignedIn(User);
}



<section id="inicio" class="hero">
    <div class="hero-text">
        <h1>Conecta con tu Comunidad</h1>
        <p>Descubre, crea y participa en eventos cerca de ti.</p>
    </div>
</section>

<section id="eventos" class="container">
    <h2>Próximos Eventos</h2>

    @foreach(var e in Model)
    {
        <div class="event-card">
            <h3>@e.Name</h3>
            <p>Fecha: @e.Time?.ToString("dd 'de' MMMM 'de' yyyy")</p>
            <p>Ubicación: @e.Location</p>
            @if (isSignedIn)
            {
                <a class="btn btn-sm" asp-action="RegisterToEvent" asp-route-EventId="@e.Id">Registrarse</a>
                <button class="btn" data-bs-toggle="modal" data-bs-target="@($"#modal-{e.Id}")">Detalles</button>
            }
            else
            {
                <a class="btn btn-sm" asp-area="Identity" asp-page="/Account/Register">Inicia sesion para registrarte</a>
            }
        </div>


        <div class="modal" tabindex="-1" id="@($"modal-{e.Id}")">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@e.Name</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Fecha: @e.Time?.ToString("dd 'de' MMMM 'de' yyyy")</p>
                        <p>Ubicación: @e.Location</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-sm" asp-action="RegisterToEvent" asp-route-EventId="@e.Id">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>

    }
</section>


@if (isSignedIn)
{
    var newEvent = new Events();
    <section id="registro" class="container">
        <h2>Crear Evento</h2>
        <form asp-action="CreateEvent">
            <label asp-for="@newEvent.Name">Nombre del Evento:</label>
            <input type="text" asp-for="@newEvent.Name" required>

            <label asp-for="@newEvent.Time">Fecha:</label>
            <input type="date" asp-for="@newEvent.Time" required>

            <label asp-for="@newEvent.Location">Ubicacion:</label>
            <input type="text" asp-for="@newEvent.Location" required>

            <label asp-for="@newEvent.Description">Descripcion:</label>
            <textarea asp-for="@newEvent.Description" required style="min-height: 300px"></textarea>
                
            <button type="submit">Crear Evento</button>
        </form>
    </section>
}




